@font-face {
			  font-family: 'Geo';
			  src: local('Geo'), url('http://themes.googleusercontent.com/font?kit=PZuLMEHg-ApVzHRFEvyOKg');
			  font-style: normal;
			  font-weight: normal;
			  /*src: local('Geo'), local('Geo-Regular'), url('http://themes.googleusercontent.com/font?kit=PZuLMEHg-ApVzHRFEvyOKg') format('truetype');*/
			}

			

			body {
				background-color: #000000;
				margin: 0px;
				overflow: hidden;
				/*cursor:crosshair;*/
			}


			*  {cursor: normal;}
			a {
				color:#0078ff;
			}



			.title {
				position:relative;
				z-index:9999;
				color:white;
				font-family: 'Geo', serif;
				font-size: 30px;
				/*font-style: normal;
				text-shadow: 0px 0px 12px #ddd, 0px 0px 6px #ddd;*/
			}



			.copy {
				position:relative;
				left:0px;
				top:0px;
				z-index:9990;
				color:white;
				font-family: 'Geo', serif;
				font-size: 14px;
				/*font-style: normal;
				text-shadow: 0px 0px 12px #ddd, 0px 0px 6px #ddd;*/
			}

			

			.canvas {
				position:absolute;
				/*left:-2px;
				top:13px;*/
				z-index:300;

			}

			


			.assets {
				position:absolute;
				/*visibility: hidden;*/

			}



			/* Smoke  */

			.zebra {
				position:relative;
			}

			.strongman {
				position:relative;
			}

			.armature {
				position:relative;
				top:100px;
				left:100px;
			}

			.sprite {
				position:relative;
			}


			.zebraCorn {
				position:relative;
				/*background-image: url('assets/usmap.png');
				width:800px;
				height:494px;*/
				/*background-repeat:no-repeat;*
				background-position:0px 0px;*/
			}

			.armatureSprite {
				position:absolute;
			}

			.armatureCanvas {
				position:absolute;
			}